<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tnx097.speechassistant">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RestaurantActivity"
            android:label="Restaurang"
            android:parentActivityName=".MainActivity"></activity>
       
        <activity
            android:name=".MessageActivity"
            android:parentActivityName=".RestaurantActivity"
            android:label="Meddelande"
            ></activity>
        <activity
            android:name=".ListenActivity"
            android:label="Lyssnar"></activity>
        <activity
            android:name=".OvrigtActivity"
            android:label="Övrigt"></activity>
    </application>

</manifest>